.back {
    height: 90vh;
    width: 100vw;
    margin: auto auto;
    background-color: #486d46; /* 背景色 */
    /* background-image: url("~@/assets/hayate.jpg"); */
    background-image: url("~@/assets/home.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center center; /* 縦横中央 */
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center; /*上下中央揃え*/
  }
  
  .back::after {
    height: 90vh;
    width: 100vw;
    content: "";
    background-color: rgba(73, 73, 73, 0.651);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .title {
    font-size: 100px;
    color: #fff;
    font-weight: bold;
    position: relative;
    z-index: 1;
    text-align: center;
    border-top: double;
    border-bottom: double;
    width: 40%;
  }
  
  .sub-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .business-container {
   
  }
  
  .business-title {
    border-bottom: double;
    width: 30%;
    text-align: center;
    color: #52c2d0;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding-top: 30px;
  }

  .business-discription {
    /* display: flex;
    justify-content: center; */
  }

  .business-discription-text {
    font-size: 18px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  .kiso {
    margin: auto;
    width: 450px;
  }

  .kiso-image{
    border-radius: 8px;
    width: 450px;
    margin: auto;
  }



  .feature-container {
    margin-top: 30px;
    background-color: #f1f1f1;
    padding-bottom: 50px;
  }

  .feature-title {
    border-bottom: double;
    width: 30%;
    text-align: center;
    color: #52c2d0;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding-top: 40px;
  }

  .vision-container {
    display: flex;
    justify-content: center;
  }
  .vision {
    width:30%;
    text-align: center;
    /* margin: auto; */
  }

  .vison-image {
    margin-top: 50px;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    border: 2px solid #ffffff;
  }

  .vision-theme{
    margin-top: 20px;
    color: #52c2d0;
  }

  .vision-discription {
    width:80%;
    margin: auto;
    text-align: left;
    color: #5a5a5a;
  }

  .company-discription-container {
    background-image: url("~@/assets/hayate3.png");
    background-size: cover; 
    /* background-attachment: fixed; */
    padding-top: 50px;
  }
  
  .company-discription-title {
    border-bottom: double;
    width: 30%;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding-top: 30px;
  }
  
  .table-container{
    margin-top: 30px;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
    border: 1px solid #ffffff7a;
  }
  
  table{
    width: 100%;
    border-collapse: collapse;
  }
  
  table tr{
    border-bottom: solid 1px #ffffff7a;
  }
  
  table tr:last-child{
    border-bottom: none;
  }
  
  table th{
    position: relative;
    text-align: left;
    width: 10%;
    background-color: #52c2d0;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  table th:after{
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-left: 10px solid #52c2d0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  table td{
    text-align: left;
    width: 30%;
    text-align: center;
    background-color: #f1f1f1a2;
    padding: 10px 0;
    font-weight: bolder;
  }

  footer{
    background-color: #f7f7f7;
    text-align: center;
    padding: 10px;
    font-size: 10px;
  }


  /*以下、レスポンシブデザイン用CSS*/
  @media screen and (max-width: 700px) {
    /*スマホ用のcssを記述*/
    .title {
      font-size: 13vw;
      color: #fff;
      font-weight: bold;
      position: relative;
      z-index: 1;
      text-align: center;
      border-top: double;
      border-bottom: double;
      width: 80%;
    }
  
    .sub-title {
      font-size: 4.5vw;
    }


    .business-container {
   
    }
    
    .business-title {
      border-bottom: double;
      width: 80%;
      text-align: center;
      color: #52c2d0;
      font-weight: bolder;
      font-size: 40px;
      margin-top: 30px;
      text-align: center;
      margin-left:auto;
      margin-right:auto;
      padding-top: 30px;
    }
  
    .business-discription {
      /* display: flex;
      justify-content: center; */
    }
  
    .business-discription-text {
      font-size: 18px;
      width: 80%;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
    }
  
    .kiso {
      margin: auto;
      width: 300px;
    }
  
    .kiso-image{
      border-radius: 8px;
      width: 300px;
      margin: auto;
    }




    .feature-container {
      margin-top: 30px;
    }
  
    .feature-title {
      border-bottom: double;
      width: 65%;
      text-align: center;
      color: #52c2d0;
      font-weight: bolder;
      font-size: 35px;
      margin-top: 30px;
      text-align: center;
      margin-left:auto;
      margin-right:auto;
      padding-top: 40px;
    }
  
    .vision-container {
      display: block;
    }
    .vision {
      width:90%;
      text-align: center;
      margin: auto;
      margin-bottom: 20px;
    }
  
    .vison-image {
      margin-top: 50px;
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  
    .vision-theme{
      margin-top: 20px;
      color: #52c2d0;
    }
  
    .vision-discription {
      width:80%;
      margin: auto;
      text-align: left;
      color: #5a5a5a;
    }


  
    .company-discription-container {
  }
  
  .company-discription-title {
    border-bottom: double;
    width: 50%;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
  }
  
  .table-container{
    margin-top: 30px;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
  }
  
  table{
    width: 100%;
    border-collapse: collapse;
  }
  
  table tr:last-child{
    border-bottom: none;
  }
  
  table th{
    position: relative;
    text-align: left;
    width: 10%;
    background-color: #52c2d0;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  table th:after{
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-left: 10px solid #52c2d0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  table td{
    text-align: left;
    width: 30%;
    text-align: center;
    padding: 10px 0;
    font-weight: bolder;
  }
  }
  
  @media only screen and (min-width: 700px) and (max-width: 1023px) {
    /*tablet用のcssを記述*/
  }