<div>
  <div class="back">
    <div class="title">
      亀山建設
      <div class="sub-title">安心・安全の住まいづくりのために</div>
    </div>
  </div>

  <div class="business-container">
    <div class="business-title">当社について</div>
    <div class="business-discription">
      <div class="business-discription-text">
        私たち亀山建設は、基礎工事の専門工事業者です。
        <!-- これまで、様々な工事において多くのお客様とともに、工期短縮、低騒音・低振動化等の技術提案、
        その他、数々の難工事攻略の技術提案を行い、それを実現してまいりました。 -->
        お客様の要望をしっかり受け止め、安心・安全の基礎工事を行わさせていただきます。
        基礎工事にかかる相談の際は、是非一度私たち亀山建設までお問い合わせ下さい。
      </div>
      <div class="kiso">
        <img class="kiso-image" border="0" src="~@/assets/kiso.jpg">
      </div>
    </div>
  </div>

  <div class="feature-container">
    <div class="feature-title">当社の強み</div>
    <div class="vision-container">
      <div class="vision">
        <img class="vison-image" border="0" src="~@/assets/arch.jpg">
        <div>
          <h1 class="vision-theme">安全・安心</h1>
            <div class="vision-discription">
              当社で一番大切にしているのはは安心・安全の施工管理です。
              すべてはお客様のために安心・安全の作業体制確立に努力してまいります。
          </div>
        </div>
      </div>
      <div class="vision">
        <img class="vison-image" border="0" src="~@/assets/yousetu.jpg">
        <div>
          <h1 class="vision-theme">信頼・実績</h1>
          <div class="vision-discription">
            100年近い業歴の中で培った豊富な経験とノウハウをもとに、
            安心・安全の高品質な基礎をお作りさせていただきます。
          </div>
        </div>
      </div>
      <div class="vision">
        <img class="vison-image" border="0" src="~@/assets/cement.jpg">
        <div>
          <h1 class="vision-theme">品質</h1>
          <div class="vision-discription">
            高品質な住宅に最も重要なのは基礎工事だと亀山建設は考えます。
            大切なお客様の建物だと常に意識を持ち、妥協を許さない高品質な基礎工事を行っていくことを約束致します。
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="company-discription-container">
    <div class="company-discription-title">会社情報</div>
    <div class="table-container">
      <table>
        <tr>
          <th>会社名</th>
          <td>亀山建設</td>
        </tr>
        <tr>
          <th>事業内容</th>
          <td>住宅の基礎工事、外構工事</td>
        </tr>
        <tr>
          <th>創業</th>
          <td>19xx年</td>
        </tr>
        <tr>
          <th>代表</th>
          <td>亀山一義</td>
        </tr>
        <tr>
          <th>従業員数</th>
          <td>3名</td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>0256-73-2580</td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>〒953-0061<br>新潟県新潟市西蒲区馬堀4668-3</td>
        </tr>
      </table>
    </div>
    <br>
  </div>
  <footer>
    Copyright Kameyama Kensetsu Co., Ltd.<br>All Rights Reserved.
  </footer>
</div>