<div>
    <div class="back">
      <div class="title">
        亀山建設
        <div class="sub-title">安心できる住まいづくりのために</div>
      </div>
    </div>
    <div class="company-discription-container">
      <div class="company-discription-title">会社情報</div>
      <div class="table-container">
        <table>
          <tr>
            <th>会社名</th>
            <td>亀山建設</td>
          </tr>
          <tr>
            <th>創業</th>
            <td>1940年</td>
          </tr>
          <tr>
            <th>代表</th>
            <td>亀山一義</td>
          </tr>
          <tr>
            <th>従業員数</th>
            <td>3人</td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>0256-73-2580</td>
          </tr>
          <tr>
            <th>所在地</th>
            <td>〒953-0061<br>新潟県新潟市西蒲区馬堀4668-3</td>
          </tr>
        </table>
      </div>
    </div>
  </div>